[mysqld]
 table_open_cache=8000
 table_open_cache_instances=16
 back_log=1500
 transaction_isolation=REPEATABLE-READ
 innodb_file_per_table
 innodb_log_file_size=1024M
 innodb_log_files_in_group=3
 innodb_buffer_pool_size=25G
 innodb_buffer_pool_instances=16
 innodb_log_buffer_size=64M
 innodb_thread_concurrency=0
 innodb_flush_log_at_trx_commit=1
